<!-- <h2>Zaloguj się!</h2>
<form ng-submit="loginUser()">
    <md-input-container>
      <label>Email</label>
      <input type="email" ng-model="email">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="text" ng-model="password">
    </md-input-container>
    <button type="submit">Login user</button>
  </form>

<p>Jeżeli nie masz jeszcze konta, <a href="#/register">zarejestruj się!</a></p> -->

<div class="login-wrapper">
  <div class="login-form">
    <h2>SHOPING LIST</h2>
    <!-- <form ng-submit="loginUser()"> -->
    <div class="inputs">
      <input type="email" placeholder="email" ng-model="email">
      <input type="password" placeholder="password" ng-model="password">
    </div>
    <div class="buttons">
      <button ng-click="loginUser()" type="submit">Sign in</button>
      <p><a href="#/register">Sign up</a></p>
    </div>

    <!-- </form> -->

  </div>
</div>
