<header class="header">
  <p class="logo">SHOPING LIST</p>
  <div class="user">
    <i class="fa fa-cog">
    </i>
    <p class="user_name">Your balance: {{ data.balance }}</p>
    <img ng-src="{{ vm.user.photoURL }}"></img>
    <p class="user_name">{{ vm.user.email }}</p>
  </div>
</header>

<div class="wrapper">

  <div class="lists">
    <div class="list--header">
      <h2>LISTS</h2>
    </div>

    <div class="list-buttons">
      <p class="list-name" ng-class='{active : vm.select == item}' ng-repeat="item in vm.lists | orderBy:'item'" ng-click="vm.selectAction2(item, $event)">{{ item }}</p>
    </div>
    <div class="add-list">
      <form ng-submit="vm.addList()">
        <input type="text" class="white" placeholder="Dodaj listę" ng-model="nameListText">
      </form>
    </div>
    <md-button ng-click="vm.logout()" class="md-raised md-warn">Logout</md-button>
  </div>

  <div class="list">
    <div class="add-item">
      <form class="add" ng-submit="vm.addItem()">
        <input type="text" placeholder="Name" class="long" ng-model="nameText">
        <input type="text" placeholder="Cost" class="short" ng-model="cost">
        <!-- <input type="number" placeholder="Quanity" value="1" max="10" ng-model="quanityText"> -->
        <md-button type="submit" class="md-raised">Add</md-button>
      </form>
    </div>
    <div class="items">
      <div class="item" ng-repeat="item in vm.items | orderBy:'completed'">
        <input type="checkbox" ng-model="item.completed" ng-change="vm.items.$save(item)" value="false">
        <input type="text" ng-class="{done : item.completed}" class="itemInput" ng-model="item.name" ng-change="vm.items.$save(item)">
        <input type="text" ng-class="{done : item.completed}" class="itemInput" ng-model="item.cost" ng-change="vm.items.$save(item)">


        <!-- <input type="number" ng-model="item.quanity" ng-change="vm.items.$save(item)"> -->
        <!-- <md-button ng-click="vm.items.$remove(item)" class="md-raised md-warn">Delete</md-button> -->
      </div>
    </div>
  </div>

</div>
